<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="IssuerName" value="fabrikam" />
    <add key="SigningCertificateName" value="CN=fabrikam" />
    <add key="EncryptingCertificateName" value="" />
    <add key="AdatumIssuerIdentifier" value="http://adatum/trust" />
    <add key="AdatumIssuerLocation" value="https://localhost/Adatum.SimulatedIssuer.3/" />
    <add key="LitwareIssuerIdentifier" value="http://litware/trust" />
    <add key="LitwareIssuerLocation" value="https://localhost/Litware.SimulatedIssuer.3/" />
    <add key="FabrikamSimpleIssuerIdentifier" value="http://fabrikam-simple/trust" />
    <add key="FabrikamSimpleIssuerLocation" value="https://localhost/Fabrikam.SimulatedIssuer.3/" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
      </controls>
    </pages>
    <httpModules>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpRuntime requestValidationType="Fabrikam.FederationProvider.WsFederationRequestValidator" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
  </system.webServer>
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <!--Passive federation scenarios-->
        <add value="https://localhost/Fabrikam.FederationProvider.3/" />
      </audienceUris>
      <federatedAuthentication>
        <!--The issuer is a placeholder that will be assigned in the code when creating the sign-in request-->
        <wsFederation passiveRedirectEnabled="false" issuer="https://placeholder/" realm="https://localhost/Fabrikam.FederationProvider.3/" requireHttps="true" />
        <cookieHandler requireSsl="true" path="/Fabrikam.FederationProvider.3/" />
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!-- Litware issuer certificate -->
          <add thumbprint="2f8206711633599286e10db94a5cfb0c5ec0a235" name="litware" />
          <!-- Adatum issuer certificate -->
          <add thumbprint="f260042d59e14817984c6183fbc6bfc71baf5462" name="adatum" />
          <!-- Fabrikam issuer for tenants certificate -->
          <add thumbprint="d2316a731b59683e744109278c80e2614503b17e" name="fabrikam-simple" />
        </trustedIssuers>
      </issuerNameRegistry>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365" />
      </serviceCertificate>
      <certificateValidation certificateValidationMode="None" />
    </service>
  </microsoft.identityModel>
</configuration>
