<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/login.aspx" defaultUrl="~/default.aspx" requireSSL="true"></forms>
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
			</controls>
			<namespaces>
				<add namespace="AExpense.Data" />
			</namespaces>
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>