<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="stsEndpoint" value="https://localhost/Litware.SimulatedIssuer.8/Issuer.svc"/>
    <add key="acsNamespace" value="aorderrest-dev"/>
    <add key="acsRelyingParty" value="https://localhost/a-Order.OrderTracking.Services.8"/>
  </appSettings> 
  <system.serviceModel>
    <client>
      <endpoint address="https://localhost/a-Order.OrderTracking.Services.8/orders/"
                binding="webHttpBinding"
                bindingConfiguration="orders"
                contract="AOrder.OrderTracking.Contracts.IOrderTrackingService"
                behaviorConfiguration="orders">
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="orders">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="orders">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>