<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="IssuerName" value="adatum" />
    <add key="SigningCertificateName" value="CN=adatum" />
    <add key="EncryptingCertificateName" value="" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <pages>
      <controls>
        <add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>  
</configuration>
