<?xml version="1.0" encoding="UTF-8"?>

<!--
    This file was automatically modified when running "Modify STS reference...".
    Changes are indicated by the comment: "Commented out by FedUtil".
    The modifications impact on the sections:
      - system.web -> authorization
      - system.web -> authentication
    
    The important additions are:
      - new section: microsoft.identityModel
          The section contains all the configuration needed by Geneva Framework:
              * The address of the issuer
              * The certificates to communicate with the issuer (serviceCertificate and trustedIssuers)
              * The list of claim types that a-Expense application is expecting to receive (claimTypeRequired)
      - new modules: WSFederationAuthenticationModule and SessionAuthenticationModule
          When the modules are loaded, they attach to the ASP.NET pipeline processing in order to:
              * Redirect the unauthenticated requests to the Identity Provider
              * Handles the reply posted by the Identity Provider
              * Transform the user token sent Identity Provider into a ClaimsPrincipal (setting it in Thread.Principal)
-->
<configuration>
	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings>
		<add key="FederationMetadataLocation" value="https://localhost/Adatum.SimulatedIssuer.1/FederationMetadata/2007-06/FederationMetadata.xml" />
	</appSettings>
	<location path="FederationMetadata">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="CleanUp.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="None" />
		<authorization>
			<deny users="?" />
		</authorization>
		<pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
			</controls>
			<namespaces>
				<add namespace="AExpense.Data" />
			</namespaces>
		</pages>
		<httpModules>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />			
		</httpModules>
		<httpRuntime requestValidationType="AExpense.WsFederationRequestValidator" />
		<machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F846BC418624C533F81493C5E4C812069" validation="SHA1" validationKey="846BC418624C533F81493C5E4C812069A68051779DE62168764FF0DCE537184F0535D5D9AD66DEDC846BC418624C533F81493C5E4C812069A680517797DC1ABF" />
	</system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
	</system.webServer>
	<microsoft.identityModel>
		<service>
			<audienceUris>
				<add value="https://localhost/a-Expense.ClaimsAware/" />
			</audienceUris>
			<federatedAuthentication>
        <cookieHandler requireSsl="true" path="/a-Expense.ClaimsAware/" />
				<wsFederation passiveRedirectEnabled="true" issuer="https://localhost/Adatum.SimulatedIssuer.1/SimulatedWindowsAuthentication.aspx" realm="https://localhost/a-Expense.ClaimsAware/" requireHttps="true" />
			</federatedAuthentication>
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<trustedIssuers>
					<!--Adatum's identity provider -->
					<add thumbprint="f260042d59e14817984c6183fbc6bfc71baf5462" name="adatum" />
				</trustedIssuers>
			</issuerNameRegistry>
			<serviceCertificate>
				<certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365" />
			</serviceCertificate>
			<certificateValidation certificateValidationMode="None" />
		</service>
	</microsoft.identityModel>
</configuration>