<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<!--
      In a production scenario, the authentication mode would be set to "Windows".
      In this is set to "None" becasue we don't want to force you to
      create new users on your local users and groups to experiment different logins.
      To change the 'current user' that is authenticating go to Global.asax and 
      change this.Context.User in Application_AuthenticateRequest.
    -->
		<!--<authentication mode="Windows" />-->
		<authentication mode="None" />
		<authorization>
			<allow roles="Employee, Order Approver" />
			<deny users="*" />
		</authorization>
		<pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
			</controls>
			<namespaces>
				<add namespace="AOrder.Data" />
			</namespaces>
		</pages>
	</system.web>
</configuration>