<?xml version="1.0"?>

<configuration>
	<appSettings />
	<connectionStrings />
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<authentication mode="None" />
		<pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
			</controls>
		</pages>
	</system.web>
</configuration>