<?xml version="1.0"?>

<!--
    This file was automatically modified when running "Modify STS reference...".
    Changes are indicated by the comment: "Commented out by FedUtil".
    The modifications impact on the sections:
      - system.web -> authorization
      - system.web -> authentication
    
    The important additions are:
      - new section: microsoft.identityModel
          The section contains all the configuration needed by Geneva Framework:
              * The address of the issuer
              * The certificates to communicate with the issuer (serviceCertificate and trustedIssuers)
              * The list of claim types that a-Expense application is expecting to receive (claimTypeRequired)
      - new modules: WSFederationAuthenticationModule and SessionAuthenticationModule
          When the modules are loaded, they attach to the ASP.NET pipeline processing in order to:
              * Redirect the unauthenticated requests to the Identity Provider
              * Handles the reply posted by the Identity Provider
              * Transform the user token sent Identity Provider into a ClaimsPrincipal (setting it in Thread.Principal)
-->
<configuration>
	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings>
		<add key="FederationMetadataLocation" value="http://localhost/Adatum.FederationProvider.6/FederationMetadata/2007-06/FederationMetadata.xml" />
	</appSettings>
	<location path="FederationMetadata">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<authorization>
			<deny users="?" />
		</authorization>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
        <add tagPrefix="wif" namespace="Microsoft.IdentityModel.Web.Controls" assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </controls>
			<namespaces>
				<add namespace="AOrder.Data" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpModules>
		<httpRuntime requestValidationType="AOrder.WsFederationRequestValidator" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
	</system.webServer>
	<microsoft.identityModel>
		<service>
			<audienceUris>
				<add value="https://localhost/a-Order.OrderTracking.6/" />
			</audienceUris>
			<federatedAuthentication>
				<wsFederation passiveRedirectEnabled="true" issuer="https://localhost/Adatum.FederationProvider.6/" realm="https://localhost/a-Order.OrderTracking.6/" requireHttps="true" />
        <cookieHandler requireSsl="true" path="/a-Order.OrderTracking.6/" />
			</federatedAuthentication>
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<trustedIssuers>
					<add thumbprint="f260042d59e14817984c6183fbc6bfc71baf5462" name="adatum" />
				</trustedIssuers>
			</issuerNameRegistry>
			<serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365" />
			</serviceCertificate>
			<certificateValidation certificateValidationMode="None" />
		</service>
	</microsoft.identityModel>
</configuration>