<?xml version="1.0"?>

<configuration>
	<system.web>
		<authentication mode="None" />
		<pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
			</controls>
		</pages>
		<httpModules></httpModules>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<modules></modules>
	</system.webServer>
</configuration>