<?xml version="1.0" encoding="utf-8" ?>
<!--
   Copyright (c) Microsoft Corporation.  All rights reserved.
-->
<configuration>
  <configSections>
    <!-- Registers the microsoft.IdentityModel configuration section -->
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <appSettings>
    <add key="bookDB"  value="BookDB.txt" />
    <add key="issuerCertDistinguishedName"  value="CN=WifBookStoreSTS.com" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <diagnostics>
      <messageLogging maxMessagesToLog="30000" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"></messageLogging>
    </diagnostics>

    <behaviors>
      <serviceBehaviors>
        <behavior name='bookStoreServiceBehavior'>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "BookStoreService.com" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation='LocalMachine'
                                storeName='My'
                                x509FindType='FindBySubjectName'
                                findValue='WifBookStoreService.com' />
            <!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "BookStoreSTS.com" certificate to a list of known certificates. This
            means that the service will accept tokens issued by "BookStoreSTS.com".
            -->
            <issuedTokenAuthentication>
              <knownCertificates>
                <add  storeLocation ='LocalMachine'
                      storeName ='TrustedPeople'
                      x509FindType ='FindBySubjectName'
                      findValue ='WifBookStoreSTS.com' />
              </knownCertificates>
            </issuedTokenAuthentication>
          </serviceCredentials>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled ='true'/>
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <bindings>
      <ws2007FederationHttpBinding>
        <!-- This is the Service binding for the BuyBooks endpoint. It redirects clients to the BookStore STS -->
        <binding name='BuyBookBinding'>
          <security mode="Message">
            <message>
              <issuerMetadata address='https://localhost/FederationSample/BookStoreSTS/STS.svc/mex' >
                <!--
                The BookStore STS will, in all likelyhood, be running on a machine whose domain name
                is NOT BookStoreSTS.com, but will identify itself using a certificate containing 
                "BookStoreSTS.com" as its subject name. The identity configuration element here tells
                consumers of the service to expect a DNS name of "BookStoreSTS.com" when talking to 
                the BookStore STS.
                -->
                <identity>
                  <dns value ='BookStoreSTS.com'/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>


      <ws2007HttpBinding>
        <!-- 
        This is the Service binding for the BrowseBooks endpoint. It is a standard ws2007HttpBinding 
        with security switched off
        -->
        <binding name='BrowseBookBinding'>
          <security mode='None' />
        </binding>
      </ws2007HttpBinding>

    </bindings>

    <services>
      <service name="Microsoft.IdentityModel.Samples.FederationScenario.BookStoreService"
                         behaviorConfiguration='bookStoreServiceBehavior'>
        <!-- 
        This is the HTTP endpoint that supports browsing for books. This endpoint does
        not require any security as anyone is allowed to browse for books, including anonymous
        users.
        -->
        <endpoint address="browse"
                              binding="ws2007HttpBinding"
                              bindingConfiguration='BrowseBookBinding'
                              contract="Microsoft.IdentityModel.Samples.FederationScenario.IBrowseBooks" />
        <!-- 
        This is the HTTP endpoint that supports buying books. This endpoint requires that clients
        authenticate using a token issued by the "BookStoreSTS.com" STS.        
        -->
        <endpoint address="buy"
                              binding="ws2007FederationHttpBinding"
                              bindingConfiguration='BuyBookBinding'
                              contract="Microsoft.IdentityModel.Samples.FederationScenario.IBuyBook" />

        <!-- 
        This is the HTTPS endpoint that supports IMetadataExchange.
        -->
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />

      </service>
    </services>

  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"  switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>

      <!-- 
      Comment the lines below to disable WIF tracing to: WIFTrace.e2e. 
      Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.
      Refer to MSDN if you wish to add WCF tracing.
      -->
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>

    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e2eTraceTest.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="http://localhost/FederationSample/BookStoreService/store.svc/buy"/>
      </audienceUris>
      <issuerNameRegistry type="TrustedIssuerNameRegistry" />
      <claimsAuthorizationManager type="Microsoft.IdentityModel.Samples.FederationScenario.CustomClaimsAuthorizationManager, BookStoreService" />
    </service>
  </microsoft.identityModel>

</configuration>
