<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings>
		<!-- These are the mappings between organizations (key) and the home realm to use to login (value) -->
		<add key="adatum" value="adatum.7.com" />
		<add key="litware" value="http://litware/trust" />
		<add key="contoso" value="uri:WindowsLiveID" />
	</appSettings>
	<connectionStrings />
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
				<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="Samples.Web.UI.Controls.Mvc" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
		</httpHandlers>
		<httpModules>
			<add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</httpModules>
		<httpRuntime requestValidationType="FShipping.WsFederationRequestValidator" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</modules>
		<handlers>
			<remove name="MvcHttpHandler" />
			<remove name="UrlRoutingHandler" />
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
		</handlers>
	</system.webServer>
	<microsoft.identityModel>
		<service>
			<audienceUris mode="Never">
				<!--<add value="https://localhost/f-Shipping.7/FederationResult" />-->
			</audienceUris>
			<federatedAuthentication>
				<wsFederation passiveRedirectEnabled="false" issuer="https://federated-access-control.accesscontrol.windows.net/v2/wsfederation" realm="https://localhost/f-Shipping.7/FederationResult" homeRealm="http://tenant-to-be-replaced" requireHttps="true" />
				<cookieHandler requireSsl="true" path="/f-Shipping.7/" />
			</federatedAuthentication>
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<trustedIssuers>
          
          <!-- ACS issuer certificate -->
          <add thumbprint="5A074D678466F59DBD063D1A98B1791474723365" name="https://federated-access-control.accesscontrol.windows.net/" />
          
        </trustedIssuers>
			</issuerNameRegistry>
			<serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5A074D678466F59DBD063D1A98B1791474723365" />
			</serviceCertificate>
			<certificateValidation certificateValidationMode="None" />
		</service>
	</microsoft.identityModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>