<?xml version="1.0" encoding="utf-8" ?>
<!-- 
      Defines binding settings for TokenReplayCache.
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <!--
        WS2007HttpBinding was chosen as it can be used for cross machine scenarios and is interropable.
        NetTcpBinding is not an interoperble binding but is fine .Net <-> .Net. and is faster.
        If the same machine is used, then one could explore NetNamedPipeBinding.
        No security is set in this sample. In scenarios where the calls are cross machine through insecure transports, security
        should be considered.
    -->

    <bindings>
      <ws2007HttpBinding>
        <binding name="TokenReplayCache">
          <security mode="None"/>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="TokenReplayCache">
          <serviceCredentials>
            <serviceCertificate findValue="CN=localhost"
                                storeLocation="LocalMachine"
                                storeName="My"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="TokenReplayCacheService.TokenReplayCacheService"
               behaviorConfiguration="TokenReplayCache">
        <endpoint address=""
                  binding="ws2007HttpBinding"
                  bindingConfiguration="TokenReplayCache"
                  contract="TokenReplayCacheService.ITokenReplayCache"/>
      </service>
    </services>
    
  </system.serviceModel>

  <!-- 
  Comment the lines below to disable WIF tracing to: WIFTrace.e2e. 
  Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.
  Refer to MSDN if you wish to add WCF tracing.
  -->

  <system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

</configuration>
