<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="IssuerName" value="adatum" />
    <add key="SigningCertificateName" value="CN=adatum" />
    <add key="EncryptingCertificateName" value="" />
    <add key="AdatumIssuerIdentifier" value="http://adatum/trust" />
    <add key="AdatumIssuerLocation" value="https://localhost/Adatum.SimulatedIssuer.6/" />
    <add key="LitwareIssuerIdentifier" value="http://litware/trust" />
    <add key="LitwareIssuerLocation" value="https://localhost/Litware.SimulatedIssuer.6/" />
    <add key="AcsServicenamespace" value="federated-access-control" />
  </appSettings>
  <location path="ErrorPage.aspx">
     <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
     </system.web>
  </location>
  <system.web>
    <authentication mode="None" />
    
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
      </controls>
    </pages>
    <httpModules>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpRuntime requestValidationType="Adatum.FederationProvider.WsFederationRequestValidator" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SessionAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WSFederationAuthenticationModule" preCondition="integratedMode" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
  </system.webServer>
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <add value="https://localhost/Adatum.FederationProvider.6/" />        
      </audienceUris>
      <federatedAuthentication>
         <!--The issuer is a placeholder that will be assigned in the code when creating the sign-in request--> 
        <wsFederation passiveRedirectEnabled="false" issuer="https://placeholder/" realm="https://localhost/Adatum.FederationProvider.6/" requireHttps="true" />
        <cookieHandler requireSsl="true" path="/Adatum.FederationProvider.6/" />
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!-- Litware issuer certificate -->
          <add thumbprint="2f8206711633599286e10db94a5cfb0c5ec0a235" name="litware" />
          
          <!-- Adatum issuer certificate -->
          <add thumbprint="f260042d59e14817984c6183fbc6bfc71baf5462" name="adatum" />

          <!-- ACS issuer certificate -->
          <add thumbprint="5A074D678466F59DBD063D1A98B1791474723365" name="https://federated-access-control.accesscontrol.windows.net/" />
          
        </trustedIssuers>
      </issuerNameRegistry>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365" />
      </serviceCertificate>
      <certificateValidation certificateValidationMode="None" />
    </service>
  </microsoft.identityModel>
</configuration>
