<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="IssuerName" value="adatum" />
    <add key="SigningCertificateName" value="CN=adatum" />
    <add key="EncryptingCertificateName" value="" />
    <add key="AdatumIssuerIdentifier" value="http://adatum/trust" />
    <add key="LitwareIssuerIdentifier" value="http://litware/trust" />
    <add key="LitwareIssuerLocation" value="https://localhost/Litware.SimulatedIssuer/" />
  </appSettings>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  <!-- 
    This configuration is used by the active federation scenario.
    The WCF service endpoint is a custom issuer which is not intended to be used as production code.
  -->
  <system.serviceModel>
    <services>
      <service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract" behaviorConfiguration="IssuerBehavior">
        <endpoint address="" binding="customBinding" contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrust13SyncContract" bindingConfiguration="federationProviderBinding"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <!-- This binding is used to connect to Adatum issuer that is acting as a Federation Provider. -->
      <customBinding>
        <binding name="federationProviderBinding">
          <security authenticationMode="IssuedTokenOverTransport" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
            <issuedTokenParameters>
              <issuer address="https://localhost/Litware.SimulatedIssuer.4/Issuer.svc" binding="ws2007HttpBinding" bindingConfiguration="LitwareIssuer"></issuer>
            </issuedTokenParameters>
          </security>
          <httpsTransport />
        </binding>
      </customBinding>
      <!-- 
        This binding is used to connect to Litware issuer that is acting as an Identity Provider.
        In a production scenario, the configuration should be changed to clientCredentialType="Windows"
        to use windows authentication.
      -->
      <ws2007HttpBinding>
        <binding name="LitwareIssuer">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IssuerBehavior">
          <serviceCredentials>
            <serviceCertificate x509FindType="FindBySubjectDistinguishedName" findValue="CN=adatum" storeLocation="LocalMachine" storeName="My" />
          </serviceCredentials>
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <!-- Active federation scenario -->
        <add value="https://localhost/Adatum.FederationProvider.4/Issuer.svc" />
      </audienceUris>
      <federatedAuthentication>
        <!-- The issuer is a placeholder that will be assigned in the code when creating the sign-in request -->
        <wsFederation passiveRedirectEnabled="false" issuer="https://placeholder/" realm="https://localhost/Adatum.FederationProvider.4/" requireHttps="true" />
        <cookieHandler requireSsl="true" path="/Adatum.FederationProvider.4/" />
      </federatedAuthentication>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <!-- Litware issuer certificate -->
          <add thumbprint="2f8206711633599286e10db94a5cfb0c5ec0a235" name="litware" />
        </trustedIssuers>
      </issuerNameRegistry>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365" />
      </serviceCertificate>
      <certificateValidation certificateValidationMode="None" />
    </service>
  </microsoft.identityModel>
</configuration>