<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IClaimsAwareWebService">
          <security mode="Message">
            <message>
              <issuer address="http://localhost:6000/SecurityTokenService" binding="ws2007HttpBinding"  bindingConfiguration="noSctWs2007HttpBinding" />
              <issuerMetadata address="http://localhost:6000/SecurityTokenService/mex" />
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <!--Creates a custom WS2007HttpBinding to disable the use of security context token (SCT)-->
      <ws2007HttpBinding>
        <binding name="noSctWs2007HttpBinding">
          <security>
            <message establishSecurityContext="false"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6020/ClaimsAwareWebService"
          binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IClaimsAwareWebService"
          contract="IClaimsAwareWebService" name="WS2007FederationHttpBinding_IClaimsAwareWebService">
        <identity>
          <certificateReference x509FindType="FindBySubjectDistinguishedName" findValue="CN=localhost" storeLocation="LocalMachine" storeName="My" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <!-- 
  Comment the lines below to disable WIF tracing to: WIFTrace.e2e. 
  Open the trace file using the SvcTraceViewer.exe tool (shipped with the WCF SDK available from Microsoft) or a xml viewer.
  Refer to MSDN if you wish to add WCF tracing.
  -->

  <system.diagnostics>
    <sources>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="WIFTrace.e2e" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>

</configuration>
