<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DependencyCheckerSection" type="DependencyChecker.Configuration.DependenciesSection, DependencyChecker, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <DependencyCheckerSection title="Test config">
    <checks>
      <check name="Reg1" checkType="Registry" value="What\Ever" />
      <check name="Reg2" checkType="Registry" value="SOFTWARE\Company\Product\Compatibility|MyVer|1" />
      <check name="Reg3" checkType="Registry" value="SOFTWARE\Company\Product|CurrentVersion|MyVer" />
      <check name="Soft1" checkType="Software" value="My Product Name" />
      <check name="Exp11" checkType="Expression" value="Reg2 || Reg3" />
      <check name="Exp12" checkType="Expression" value="Reg1 &amp;&amp; Reg2" />
    </checks>
    <MinimumRequirements MinimumOSBuildNumber="10">
      <dependency enabled="true"
                  category="Optional"
                  title="MinimumRequirement"
                  explanation="This might be handy in all cases"
                  downloadUrl="http://www.microsoft.com"
                  check="Reg2"
                  />
    </MinimumRequirements>

    <dependencyGroup name="MockOS"  OSBuildNumber="100">
      <checks>
        <check name="Reg0" checkType="Registry" value="What\Ever2" />
        <check name="Reg1" checkType="Expression" value="Reg0 || Soft1" />
      </checks>
      <dependency enabled="true"
                  category="Optional"
                  title="Microsoft Visual Studio 2005"
                  explanation="In order to use the Guidance Package, you will need to install Visual Studio 2005"
                  downloadUrl="http://www.microsoft.com/VisualStudio"
                  check="Reg1"
                  />
    </dependencyGroup>
    <dependencyGroup name="MockOS2"  OSBuildNumber="200">
      <dependency enabled="true"
                  category="MyCategory"
                  title="Microsoft Visual Studio 2005"
                  explanation="In order to use the Guidance Package, you will need to install Visual Studio 2005"
                  downloadUrl="http://www.microsoft.com/VisualStudio"
                  check="(Reg1 || Soft1) &amp;&amp; Exp12" />
    </dependencyGroup>
    <dependencyGroup name="MockOS3"  OSBuildNumber="300">
      <dependency enabled="true"
                  category="Optional"
                  title="Microsoft Visual Studio 2005"
                  explanation="In order to use the Guidance Package, you will need to install Visual Studio 2005"
                  downloadUrl="http://www.microsoft.com/VisualStudio"
                  check="(Reg1 || Soft1) &amp;&amp; Exp12" />
    </dependencyGroup>
    <dependencyGroup name="MockOS4"  OSBuildNumber="400">
      <dependency enabled="true"
                  category="Optional"
                  title="Microsoft Visual Studio 2005"
                  explanation="In order to use the Guidance Package, you will need to install Visual Studio 2005"
                  downloadUrl="http://www.microsoft.com/VisualStudio"
                  check="Reg1" />
    </dependencyGroup>
  </DependencyCheckerSection>
</configuration>