<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="IssuerName" value="litware" />
		<add key="SigningCertificateName" value="CN=litware" />
		<add key="EncryptingCertificateName" value="" />
	</appSettings>
	<system.web>
    <!-- Forms authentication is used here to simulate the windows authentication process. -->
    <authentication mode="Forms">
      <forms loginUrl="SimulatedWindowsAuthentication.aspx" protection="All" timeout="30" name=".STSFORMSAUTH" path="/Litware.SimulatedIssuer.6" requireSSL="true" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <!-- Deny Anonymous users. -->
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
      </controls>
    </pages>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
</configuration>