<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings>
    <add key="IssuerName" value="https://localhost/Adatum.SimulatedIssuer.7/" />
		<add key="SigningCertificateName" value="CN=adatum" />
		<add key="EncryptingCertificateName" value="" />
		<add key="AdatumIssuerIdentifier" value="http://adatum/trust" />
		<add key="LitwareIssuerIdentifier" value="http://litware/trust" />
		<add key="LitwareIssuerLocation" value="https://localhost/Litware.SimulatedIssuer/" />
	</appSettings>
	<location path="FederationMetadata">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<!-- 
      Authentication is set to "None" because the WSFederationAuthenticationModule 
      will perform the federated authentication. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="SimulatedWindowsAuthentication.aspx" protection="All" timeout="30" name=".STSFORMSAUTH" path="/Adatum.SimulatedIssuer.7" requireSSL="true" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <!-- Deny Anonymous users. -->
    <authorization>
      <deny users="?" />
    </authorization>

    <pages>
			<controls>
				<add tagPrefix="samples" namespace="Samples.Web.UI.Controls" assembly="Samples.Web.UI.Controls" />
			</controls>
		</pages>
	
		<compilation targetFramework="4.0" debug="true" />
		<!--<httpRuntime requestValidationType="Adatum.SimulatedIssuer.WsFederationRequestValidator" />-->
	</system.web>
	<system.webServer>
	</system.webServer>
	<microsoft.identityModel>
		<service>
			<audienceUris>
				<add value="https://localhost/Adatum.SimulatedIssuer/" />
			</audienceUris>
			<federatedAuthentication>
				<!-- The issuer is a placeholder that will be assigned in the code when creating the sign-in request -->
				<wsFederation passiveRedirectEnabled="false" issuer="https://placeholder/" realm="https://localhost/Adatum.SimulatedIssuer/" requireHttps="true" />
        <cookieHandler requireSsl="true" path="/Adatum.SimulatedIssuer.7/" />
			</federatedAuthentication>
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<trustedIssuers>
					<!-- Litware issuer certificate -->
					<add thumbprint="2f8206711633599286e10db94a5cfb0c5ec0a235" name="litware" />

          <!-- ACS issuer certificate -->
          <add thumbprint="A9B3B5C3BBE77BBFDBFC92F4F852448188CA50B7" name="https://federationwithacs-dev.accesscontrol.appfabriclabs.com/" />
        </trustedIssuers>
			</issuerNameRegistry>
			<serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="5a074d678466f59dbd063d1a98b1791474723365" />
			</serviceCertificate>
			<certificateValidation certificateValidationMode="None" />
		</service>
	</microsoft.identityModel>
</configuration>