<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DependencyCheckerSection" type="DependencyChecker.Configuration.DependenciesSection, DependencyChecker"/>
  </configSections>

  <DependencyCheckerSection
      title="Dependency checking tool"
      description="These dependencies are required if you want to download and view the source code and documentation.">
    <checkEvaluators>
      <checkEvaluator name="Registry" type="DependencyChecker.Common.CheckEvaluators.RegistryCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Software" type="DependencyChecker.Common.CheckEvaluators.SoftwareCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Expression" type="DependencyChecker.Common.CheckEvaluators.ExpressionCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Hotfix" type="DependencyChecker.Common.CheckEvaluators.HotFixCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="NotSupported" type="DependencyChecker.Common.CheckEvaluators.NotSupportedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Wmi" type="DependencyChecker.Common.CheckEvaluators.WmiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="WPI" type="DependencyChecker.Common.CheckEvaluators.WpiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="CodeBased" type="DependencyChecker.Common.CheckEvaluators.CodeBasedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Certificate" type="DependencyChecker.Common.CheckEvaluators.CertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="MultiCertificate" type="DependencyChecker.Common.CheckEvaluators.MultiCertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="LoadProfile" type="DependencyChecker.Common.CheckEvaluators.ProfileCheckEvaluator, DependencyChecker"/>
    </checkEvaluators>
    <checks>
      <check name="IIS7CGCC" checkType="WPI" value="WASProcessModel!WASNetFxEnvironment!WASConfigurationAPI!MetabaseAndIIS6Compatibility!IIS7"/>
      <check name="VS2010" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|HKLM:SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|1033|"/>      
      <check name="WIFRuntime" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Windows Identity Foundation\Setup\v3.5|HKLM:SOFTWARE\Wow6432Node\Microsoft\Windows Identity Foundation\Setup\v3.5||6.1.7600.0"/>
      <check name="WIFSDK" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Windows Identity Foundation SDK\Setup\v4.0|HKLM:SOFTWARE\Wow6432Node\Microsoft\Windows Identity Foundation SDK\Setup\v4.0||6.1.7600.1"/>
      <check name="WCF" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Net Framework Setup\ndp\v3.0\Setup\Windows Communication Foundation\HTTPActivation|HKLM:SOFTWARE\Wow6432Node\Microsoft\Net Framework Setup\ndp\v3.0\Setup\Windows Communication Foundation\HTTPActivation||"/>
      <check name="WP7" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\XDE|HKLM:SOFTWARE\Wow6432Node\Microsoft\XDE||"/>
      <check name="WindowsAzureToolsVS2010" checkType="WPI" value="WindowsAzureToolsVS2010"/>      
      <check name="AllCertificates" checkType="MultiCertificate" value="LocalMachine,My,CN=fabrikam!LocalMachine,TrustedPeople,CN=fabrikam!LocalMachine,My,CN=adatum!LocalMachine,TrustedPeople,CN=adatum!LocalMachine,My,CN=litware!LocalMachine,TrustedPeople,CN=litware!LocalMachine,My,CN=localhost!LocalMachine,TrustedPeople,CN=localhost!LocalMachine,Root,CN=Root Agency"/>
      <check name="HttpsConfigured" checkType="CodeBased" value="not-used"/>
      <check name="ProfileLoaded" checkType="LoadProfile" value="not-used"/>
    </checks>
    <MinimumRequirements MinimumOSBuildNumber="3790">
      <dependency check="VS2010"
        enabled="true"
        category="Required"
        title="Visual Studio 2010"
        explanation="Visual Studio 2010 is required to open all samples."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=178875"/>

      <dependency check="IIS7CGCC"
        enabled="true"
        category="Required"
        title="Internet Information Server 7"
        explanation="Internet Information Server 7 is required to view all samples."
        scriptName="cmd:DependencyChecker.Common.WpiCommand"
        settings="WASProcessModel!WASNetFxEnvironment!WASConfigurationAPI!MetabaseAndIIS6Compatibility!IIS7"/>

      
      <dependency check="ProfileLoaded"
        enabled="true"
        category="Required"
        title="Profile loaded in IIS"
        explanation="To run the samples, you need to make sure that the IIS user profile is loaded."
        scriptName="cmd:DependencyChecker.Common.SetupProfileCommand"/>           

      <dependency check="AllCertificates"
        enabled="true"
        category="Required"
        title="Certificates for samples"
        explanation="Certificates that the samples run on. These certificates are for development purposes only."
        scriptName="cmd:DependencyChecker.Common.CertificateSetupCommand"/>

      <dependency check="HttpsConfigured"
        enabled="true"
        category="Required"
        title="Https configured in IIS"
        explanation="To run the samples, https binding should be configured in IIS - IIS should be installed prior to this."
        scriptName="cmd:DependencyChecker.Common.SetupHttpsCommand"/>

      <dependency check="WIFRuntime"
        enabled="true"
        category="Required"
        title="Windows Identity Foundation Runtime"
        explanation="In order to run the samples, you need Windows Identity Foundation Runtime installed."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=178879"/>

      <dependency check="WIFSDK"
        enabled="true"
        category="Required"
        title="Windows Identity Foundation SDK"
        explanation="In order to run the samples, you need Windows Identity Foundation SDK installed."
        downloadUrl="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=c148b2df-c7af-46bb-9162-2c9422208504"/>

      <dependency check="WindowsAzureToolsVS2010"
        enabled="true"
        category="Optional"
        title="Windows Azure Tools for VS"
        explanation="Windows Azure SDK is required to evaluate Scenario 5 - Azure only."
        scriptName="cmd:DependencyChecker.Common.WpiCommand"
        settings="WindowsAzureToolsVS2010"/>

      <dependency check="WP7"
        enabled="true"
        category="Optional"
        title="Windows Phone 7"
        explanation="Windows Phone 7 is required to evaluate Scenario 9."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=204379"/>

      <dependency check="WCF"
        enabled="true"
        category="Optional"
        title="Windows Communication Foundation enabled in IIS"
        explanation="You have to enable Windows Communication Foundation to run Web Services sample - IIS should be installed prior to this."
        scriptName="cmd:DependencyChecker.Common.RegisterAspnetCommand"/>

    </MinimumRequirements>
  </DependencyCheckerSection>

  <startup>
    <startup>
      <supportedRuntime version="v3.5"/>
      <supportedRuntime version="v4.0.30319"/>
    </startup>
  </startup>
</configuration>