<?xml version="1.0"?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/a-Order.OrderTracking.Services/OrderTrackingService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IOrderTrackingService" contract="OrderTrackingService.IOrderTrackingService" name="WS2007FederationHttpBinding_IOrderTrackingService">
        <identity>
          <dns value="adatum" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <!-- This binding is used to connect to a-Order.OrderTracking service which federates authentication to Adatum. -->
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IOrderTrackingService">
          <security mode="Message">
            <message>
              <issuer address="https://localhost/Adatum.FederationProvider.4/Issuer.svc" binding="customBinding" bindingConfiguration="AdatumIssuerIssuedToken"></issuer>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <!-- This binding is used to connect to Adatum issuer that is acting as a Federation Provider. -->
      <customBinding>
        <binding name="AdatumIssuerIssuedToken">
          <security authenticationMode="IssuedTokenOverTransport" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
            <issuedTokenParameters>
              <issuer address="https://localhost/Litware.SimulatedIssuer.4/Issuer.svc" binding="ws2007HttpBinding" bindingConfiguration="LitwareIssuerUsernameMixed"></issuer>
            </issuedTokenParameters>
          </security>
          <httpsTransport />
        </binding>
      </customBinding>
      <!-- 
        This binding is used to connect to Litware issuer that is acting as an Identity Provider.
        In a production scenario, the configuration should be changed to clientCredentialType="Windows"
        to use windows authentication.
      -->
      <ws2007HttpBinding>
        <binding name="LitwareIssuerUsernameMixed">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <!-- Uncomment the following lines for tracing the messages when an error occurs in the WCF communication.
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics> -->
  </system.serviceModel>

  <!-- Uncomment the following lines for debugging when an error occurs in the WCF communication in the client.
       The traces are located in the file specified in the element: 
         - <sharedListeners> -> <add initializeData="{path\file-name}" ... />
       This trace file can be opened with the tool SvcTraceViewer.exe. 
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="xml">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\temp\WCF-client.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml">
        <filter type="" />
      </add>
      <add initializeData="c:\temp\WCF-client-msg.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics> -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>